<%= render "shared/second_header" %>

<%= form_with model: @breast, url: child_breasts_path(params[:child_id]), class: "breast-form", local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      授乳記録
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="form-time">
    <p>飲み始め時間</p>
    <%= f.datetime_select :start_time, default: Time.now - 15.minute, use_month_numbers: true %>
  </div>
  <div class="form-time">
    <p>飲み終わり時間</p>
    <%= f.datetime_select :end_time, default: Time.now, use_month_numbers: true %>
  </div>

  <div class="btn-wrap">
      <label class="btn-box">
        <%= f.radio_button :side, 'breast_left.png', class: "radio-btn" %>
        <%= image_tag 'breast_left.png', class: "btn-icon" %>
      </label>
      <label class="btn-box">
        <%= f.radio_button :side, 'breast_right.png', class: "radio-btn" %>
        <%= image_tag 'breast_right.png', class: "btn-icon" %>
      </label>
  </div>
  <%= f.submit '保存', class: "submit" %>
</div>
<% end %>


<%= render "shared/second_footer" %>