<%= render "shared/header" %>

<div class='child-main'>
  <div class='child-container'>
    <hr>
    <% @times.each do |time| %>
      <div class="time-line">
        <% if time.hour == Time.current.hour %>
          <div class="time now">
        <% else %>
          <div class="time">
        <% end %>
          <%= time.hour %>
        </div>
        <div class="item-wrap">
        <% @breasts.each do |breast| %>
          <% if time.strftime("%F/%H") == breast.start_time.strftime("%F/%H") %>
              <div class="icon-wrap">
                <%= breast.start_time.strftime("%H:%M") %>
                <%= image_tag breast.side, class: "item-icon" %>
              </div>
              <div class="item">
                <%= "#{breast.breast_time / 60}分 "%>
              </div>
          <% end %>
        <% end %>
        </div>
      </div>
      <hr>
      <% if time.hour == 23 %>
        <div class="date-line">
          <hr class="line">
          <p class="day">
            <%= "#{time.month}/#{time.day + 1}" %>
          </p>
          <hr class="line">
        </div>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
