<header class="header">
  <div class="header-bar">
    <%= link_to root_path do %>
      <h1 class="title-logo">育児日記</h1>
    <% end %>
    <% if user_signed_in? %>
      <div class="user-info">
        <div class="child-name" id="lists">
          <% if @child %>
            <%= @child.name %>
          <% else %>
            記録をつける
          <% end %>
          <ul class="show-lists hidden" id="pull-down">
            <% @children.each do |child| %>
              <li class="pull-down-list">
                <%= link_to "#{child.name}", child_path(child.id), class: 'child-link' %>
              </li>
            <% end %>
          </ul>
        </div>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
      </div>
    <% else %>
      <div class="user-info">
        <%= link_to "ログイン", new_user_session_path, class: "login" %>
        <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
      </div>
    <% end %>
  </div>
</header>
